<div *ngIf="task">
  <div><span>⚜ id: </span>{{task.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="task.name" placeholder="name">
    </label>
  </div>
  <div>
    <label>days:
      <input [(ngModel)]="task.days " placeholder="days" type="number">
    </label>
  </div>
  <div>
    <label>next time:
      <input type="date" [value]="nextDate | date:'yyyy-MM-dd'" (input)="nextDate=$event.target.valueAsDate" />
    </label>
  </div>
  <div>
    <label>done today:
      <input type="checkbox" [checked]="task.done">
    </label>
  </div>
  <button (click)=saveAndBack()>save and go back</button>
  <button (click)="goBack()">just go back</button>
  <button (click)="save()">save and stay</button>
  <hr>
  <button (click)="delete()">Delete</button>
</div>

